@font-face{
	font-family: "Catamaran-Black";
	src: url("./fonts/Catamaran-Black.ttf") format("truetype");
	font-style: black;
	font-weight: black;
}
*{
	padding: 0;
	margin: 0;

}

.wrap{
	min-height: calc(100vh - 121px);
}

/* Style for "Rectangle" */
header{
	width: 100%;
	height: 669px;
    background: linear-gradient(to top, #00f1ff 0%, #00a8b2 100%);
    position: relative;

	
}

.img_head{
	width: 100%;
    height: 669px;
	opacity: 0.7;
	position: absolute;
	
	
}
.logo_1{
	width: 276px;
	height: 109px;
	position: absolute;

	
	margin: 172px 0 0 246px;
/*s*/	

}
.sadf{
	/* Style for "allRegiste" */
width: 377px;
height: 422px;
box-shadow: 0 6px 6px 1px rgba(44, 43, 45, 0.7);
background-color: #333333;
opacity: 0.9;
position: absolute;
margin: 129px 0 0 1000px;
}
.Iname{
	width: 347px;
height: 40px;
background-color: #ffffff;
margin: 23px 0 0 13px;
font-size: 18px;	
}
.Iemail{
	width: 347px;
height: 40px;
background-color: #ffffff;
margin: 15px 0 0 13px;
font-size: 18px;	

}
.Ipassword{
	width: 347px;
height: 40px;
background-color: #ffffff;
margin: 15px 0 0 13px;
font-size: 18px;	
}
.tex{
	/* Style for "If you’re" */
width: 317px;
height: 40px;
color: #ffffff;
font-family: Catamaran;
font-size: 16px;
font-weight: 300;
line-height: 24px;
/* Text style for "If you’re" */
letter-spacing: 1.6px;
margin: 14px 0 0 13px;
}
.Icode{
	/* Style for "Rectangle" */
width: 347px;
height: 40px;
background-color: #ffffff;
margin: 8px 0 0 13px;
font-size: 18px;
}
.Iregist{
	/* Style for "Register n" */
/* Style for "registerNo" */
width: 347px;
height: 40px;
background-color: #ff6600;
font-family: "Catamaran-Black";
font-size: 30px;

/* Text style for "Register n" */
letter-spacing: 3px;
margin: 15px 0 0 13px;
border: none;
}

.but_1{
	/* Style for "greyRestan" */
width: 190px;
height: 58px;
background-color: #ffffff;
opacity: 0.7;
border:none;

/* Style for "Sign in" */

color: #333333;
font-family: Catamaran;
font-size: 18px;
font-weight: 400;
line-height: 36px;
/* Text style for "Sign in" */
letter-spacing: 1.8px;	
margin: -57px 0 0 187px;
position: absolute;
}
.b_2{
/* Style for "Join us" */

color: #ffffff;
font-family: Catamaran;
font-size: 18px;
font-weight: 400;
line-height: 36px;
/* Text style for "Join us" */
letter-spacing: 1.8px;
margin:21px 0 0 63px; 
}

p.talk{
	/* Style for "Talk to pe" */
	width: 331px;
	height: 88px;
	color: #333333;
	font-family: Catamaran;
	font-size: 36px;
	font-weight: 500;
	line-height: 54px;
	/* Text style for "T, alk to" */
	letter-spacing: 3.6px;
	margin: 336px 0 0 219px;
	position: absolute;
	text-indent: 30px;



}
.what{
	width: 316px;
	height: 31px;
	color: #00a8b2;
	font-family: "Catamaran-Black";
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	/* Text style for ",  ," */
	
	letter-spacing: 3px;
	/* Text style for "What is El" */
	letter-spacing: 3px;
	position: relative;
	
	margin: 72px auto 0 auto;
}
.web{
	/* Style for "Web platfo" */
	width: 764px;
	height: 40px;
	color: #333333;
	font-family: Catamaran;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	/* Text style for "Web platfo" */
	letter-spacing: 1.6px;
	position: relative;
	margin: 17px auto 0 auto;
}
.how{
	/* Style for "How it wor" */
	width: 232px;
	height: 24px;
	color: #00a8b2;
	font-family: "Catamaran - Black";
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	/* Text style for ",  ," */
	
	letter-spacing: 3px;
	/* Text style for "How it wor" */
	letter-spacing: 3px;
	position: relative;
	margin: 55px auto 0 auto;
}
div{
	display: block;
}
.ar{
	display: flex;
	justify-content: space-around;
	margin: 50px 0 0 0;
	

}


main{
	margin-bottom: 80px;
}
.foot{
	/* Style for "Rectangle" */
width: 100%;
height: 121px;
background-color: #333333;



}

.logo_2{
	margin: 28px 0 0 58px;

}
.conn{
	/* Style for "Connect wi" */

color: #ffffff;
font-family: Catamaran;
font-size: 16px;
font-weight: 400;
line-height: 36px;
/* Text style for "C, onnect" */
letter-spacing: 1.6px;
/*margin: -80px 0 0 1100px; */
}
.emel{
	/* Style for "Connect wi" */

color: #ffffff;
font-family: Catamaran;
font-size: 16px;
font-weight: 400;
line-height: 36px;
/* Text style for "C, onnect" */
letter-spacing: 1.6px;
}
.gfh{
margin: -80px 0 0 1000px;
}
.gr_1{
	/* Style for "Asset 14 c" */
width: 45px;
height: 5px;
background-color: #ffffff;
margin: -55px 0 0 950px;
}
.gr_2{
	/* Style for "Asset 14 c" */
width: 45px;
height: 5px;
background-color: #ffffff;
margin: -6px 0 0 1135px;
}




